<!DOCTYPE html>
<!-- <html manifest="appcache.manifest" ng-app="VLCRemote" ng-strict-di> -->
<html ng-app="VLCRemote" ng-strict-di>
<head>
	<meta charset="utf-8">

	<title>VLC - Remote Controller</title>
<!-- Sets initial viewport load and disables zooming  -->
	<meta content="initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Internet Explorer compatibility - useless ? -->
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
<!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="white" name="apple-mobile-web-app-status-bar-style">

<!-- Favicons -->
	<link href="img/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="img/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="img/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="img/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="img/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="img/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="img/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="img/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="img/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
	<link href="img/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="img/favicons/android-chrome-192x192.png" rel="icon" sizes="192x192" type="image/png">
	<link href="img/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="img/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="img/favicons/manifest.json" rel="manifest">
	<link color="#5bbad5" href="img/favicons/safari-pinned-tab.svg" rel="mask-icon">
	<link href="img/favicons/favicon.ico" rel="shortcut icon">
	<meta content="#da532c" name="msapplication-TileColor">
	<meta content="img/favicons/mstile-144x144.png" name="msapplication-TileImage">
	<meta content="img/favicons/browserconfig.xml" name="msapplication-config">
	<meta content="#ffffff" name="theme-color">
	
<!-- CSS -->
	<!-- Include the compiled Ratchet CSS -->
	<link href="css/ratchet.min.css" rel="stylesheet" async lazyload>
	<!-- Style -->
	<style type="text/css">
		select {
			height: inherit;
		}
		.input-row select {
	/* 		height: inherit; */
	/* 		font-size: inherit; */
	/* 		background-color:#fff; */
			float: right;
			width: 65%;
	/* 		padding-left: 0; */
			margin-bottom: 0;
			border: 0;
			box-shadow: none;
			-webkit-box-shadow: none;
		}
		
		li.table-view-cell.media a img.media-object {
			width: 60px;
		}
		li.table-view-cell.primary {
			background-color: #ffe0cc;
		}
		
		div.modal div.content.footer {
			padding-bottom: 44px;
		}
		
		.vhidden {
			visibility: hidden;
		}
		
		.bar-header-secondary .btn > .icon {
			font-size: 21px;
			top: 0;
		}
		.bar-header-secondary button.btn.pull-right.control-item, .bar-header-secondary > button.btn.pull-left.control-item {
			padding: 2px 8px;
		}
		
		.grayscale {
			color: #333;
			filter: grayscale(1);
			-webkit-filter:grayscale(1);
		}
		
		div.loader-wrapper {
			z-index: 1001;
			position: fixed;
			top:0;
			left:0;
			height: 100%;
			width: 100%;
			background: /*#FFE6BF*/ #fff;
		}
		div.loader {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 150px;
			height: 150px;
			margin: -75px 0 0 -75px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: #da532c;
			-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
					animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		}
		div.loader:before {
 			content: ""; 
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-left-color: #5bbad5;
			-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
					animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		}
		div.loader:after {
			content: "";
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-bottom-color: #929292;
			-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
					animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		}
		@-webkit-keyframes spin {
			0%   {
				-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
				-ms-transform: rotate(0deg);  /* IE 9 */
				transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
			}
			100% {
				-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
				-ms-transform: rotate(360deg);  /* IE 9 */
				transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
			}
		}
		@keyframes spin {
			0%   {
				-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
				-ms-transform: rotate(0deg);  /* IE 9 */
				transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
			}
			100% {
				-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
				-ms-transform: rotate(360deg);  /* IE 9 */
				transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
			}
		}
		.loaded div.loader-wrapper {
			visibility: hidden;
			opacity:0;
			/*-webkit-transform: translateY(100%);*/  /* Chrome, Opera 15+, Safari 3.1+ */
			/*	-ms-transform: translateY(100%);*/  /* IE 9 */
			/*		transform: translateY(100%);*/  /* Firefox 16+, IE 10+, Opera */
			-webkit-transition: all 0.3s 0.2s ease-out; 
					transition: all 0.3s 0.2s ease-out;
		}
		.loaded div.loader {
			/*opacity: 0;*/
			-webkit-filter: blur(10px);
					filter: blur(10px);
			-webkit-transition: all 0.3s ease-out; 
					transition: all 0.3s ease-out;
		}
		
	</style>
	<script type="text/javascript">
	/* loadCSS <https://github.com/filamentgroup/loadCSS> */
		(function(g){g.loadCSS=function(m,d,n){function e(b){for(var c=a.href,d=h.length;d--;)if(h[d].href===c)return b();setTimeout(function(){e(b)})}function k(a){b.body?a():setTimeout(function(){k(a)})}function f(){a.addEventListener&&a.removeEventListener("load",f);a.media=n||"all"}var b=g.document,a=b.createElement("link"),c;if(d)c=d;else{var l=(b.body||b.getElementsByTagName("head")[0]).childNodes;c=l[l.length-1]}var h=b.styleSheets;a.rel="stylesheet";a.href=m;a.media="only x";k(function(){c.parentNode.insertBefore(a,d?c:c.nextSibling)});a.addEventListener&&a.addEventListener("load",f);a.a=e;e(f);return a}})(window);
	/* common[.min].css */
		loadCSS('css/input-range.min.css');
		if(/(iPad|iPhone|iPod)/g.test(navigator.userAgent)){
			loadCSS('css/ratchet-theme-ios.min.css');
		}
	</script>

<!-- JAVASCRIPT -->
	<!--Angular-->
	<script defer type="text/javascript" src="js/angular.min.js">/*modified angular 1.4.8 code, so VLC's lua http server can provide it.*/</script>
	<script defer type="text/javascript" src="js/angular-touch.min.js"></script>
	<script defer type="text/javascript" src="js/angular-translate.min.js"></script>
	<script defer type="text/javascript" src="js/angular-translate-loader-static-files.min.js"></script>
	<!--VLC Angular App-->
	<script defer type="text/javascript" src="js/vlcapp.min.js"></script>
	<!--Ratchet JS-->
	<script async type="text/javascript" src="js/ratchet.custom.min.js"></script>

</head>	
<body ng-controller="Status as curr" ng-class="{'loaded':loaded}">
	<noscript>
		<style type="text/css">
			div,header,nav {
				display: none !important;
			}
		</style>
		<p align="center">This App entirely relies on Javascript (using AngularJS v1.4.8). Please, enable it.</p>
	</noscript>
	
	<div class="loader-wrapper">
		<div class="loader"></div>
	</div>
	
	<header class="bar bar-nav">
		<h1 class="title" ng-class="{grayscale:!focused}"><img alt="VideoLan Logo" class="icon" src="img/vlc16x16.png"> VLC - Remote Controller</h1>
		<a class="icon icon-gear pull-right" href="#settings"></a>
	</header>

<!--Settings-->
	<div class="modal" id="settings" ng-controller="Settings as s">
		<header class="bar bar-nav">
			<a class="icon icon-close pull-right" href="javascript:void(0);" ng-click="closeModal('settings');"></a>

			<h1 class="title"><span class="icon icon-gear"></span> {{'SETTINGS.TITLE' | translate}}</h1>
		</header>
		<div class="content">
			<ul class="table-view">
				<li class="table-view-divider">{{'SETTINGS.VLCAPP' | translate}}</li>
				
				<li class="input-row">
					<label>{{'SETTINGS.SERVER' | translate}}</label>
					<input disabled placeholder="{{s.defaults.server}}" type="text">
				</li>

				<li class="input-row">
					<label>{{'SETTINGS.UPDATE_INTERVAL' | translate}}</label>
					<input ng-model="settings.update" min="1" max="300" step="1"  placeholder="{{s.defaults.update}} seconds" type="number">
				</li>

				<li class="table-view-divider">{{'SETTINGS.BROWSER' | translate}}</li>

				<li class="input-row">
					<label>{{'SETTINGS.DEFAULT_PATH' | translate}}</label>
					<input placeholder="{{s.defaults.browser}}" ng-model="settings.browser" type="text">
				</li>
				<li class="table-view-cell">
					<a href="#browse">
						<p>{{'SETTINGS.PATH_HELP' | translate}}</p>
					</a>
				</li>
				
				<li class="table-view-cell">
					<label>{{'SETTINGS.FOLDERS_FIRST' | translate}}</label>
					<p>{{'SETTINGS.FOLDERS_FIRST_HELP' | translate}}</p>
					<div class="toggle" id="dirFirst" ng-class="{active: settings.dirFirst}">
						<div class="toggle-handle"></div>
					</div>
				</li>
				
				<li class="input-row">
					<label>{{'SETTINGS.ORDERING_BY' | translate}}</label>
					<select ng-model="settings.browseOrder">
						<option ng-repeat="option in s.browseOrderOpts" value="{{option.id}}">{{'SETTINGS.M.'+option.value | translate}}</option>
					</select>
				</li>

				<li class="table-view-divider">{{'SETTINGS.PLAYER' | translate}}</li>
				
				<li class="table-view-cell">{{'SETTINGS.MAX_VOL' | translate}}
					<div class="toggle" id="maxVol" ng-class="{active: settings.maxVol}">
						<div class="toggle-handle">
						</div>
					</div>
					<p>{{'SETTINGS.MAX_VOL_HELP' | translate}}</p>
				</li>

				<li class="table-view-cell">{{'SETTINGS.CHAPTERS' | translate}}

					<div class="toggle" id="chapters" ng-class="{active: settings.chapters}">
						<div class="toggle-handle">
						</div>
					</div>
					<p>{{'SETTINGS.CHAPTERS_HELP' | translate}}</p>
				</li>

				<li class="input-row"><label>{{'SETTINGS.FORWARD' | translate}}</label><input placeholder="{{s.defaults.forward}} seconds" ng-model="settings.forward" min="1" step="1" max="500" type="number">
				</li>

				<li class="input-row"><label>{{'SETTINGS.BACKWARD' | translate}}</label><input placeholder="{{s.defaults.backward}} seconds" ng-model="settings.backward" min="1" step="1" max="500" type="number">
				</li>
				
				<li class="table-view-divider">{{'SETTINGS.TRACKS_SYNC' | translate}}</li>
				
				<li class="table-view-cell">
					<p>{{'SETTINGS.TRACKS_HELP1' | translate}}</p>
					<p>{{'SETTINGS.TRACKS_HELP2' | translate}}</p>
				<li class="input-row"><label>{{'SETTINGS.AUDIO_DELAY' | translate}}</label><input placeholder="{{s.defaults.audelay}} seconds" ng-model="settings.audelay" min="0.05" step="0.05" max="50" type="number">
				</li>

				<li class="input-row"><label>{{'SETTINGS.SUB_DELAY' | translate}}</label><input placeholder="{{s.defaults.subdelay}} seconds" ng-model="settings.subdelay" min="0.05" step="0.05" max="50" type="number">
				</li>

				<li class="table-view-divider">{{'SETTINGS.MISC' | translate}}</li>
				<li class="table-view-cell">{{'SETTINGS.VLC_VERSION' | translate}}
					<p id="version">{{status.version || "Unknown version"}}</p>
					<p>API version {{status.apiversion}}</p>
				</li>
			</ul>
		</div>
	</div>

<!--Info modal-->
	<div class="modal" id="info">
		<header class="bar bar-nav">
			<a class="icon icon-close pull-right" href="javascript:void(0);" ng-click="closeModal('info');"></a>
			<h1 class="title"><span class="icon icon-info"></span> {{status.information.category.meta.artist && status.information.category.meta.title ? status.information.category.meta.artist +' - '+status.information.category.meta.title :
				status.information.category.meta.title || 'INFO.TITLE' | translate}}</h1>
		</header>
		<div class="content">
			<ul class="table-view">
				<li class="table-view-divider">{{'INFO.META' | translate}}</li>
				
				<li class="table-view-cell" ng-repeat="i in curr.info.infos">{{'INFO.M.'+i.key | translate}}
					<p>{{i.val}}</p>
				</li>
				
			</ul>
		</div>
	</div>

<!--Streams modal-->
	<div class="modal" id="streams">
		<header class="bar bar-nav">
			<a class="icon icon-close pull-right" href="javascript:void(0);" ng-click="closeModal('streams')"></a>

			<h1 class="title"><span class="icon icon-more-vertical"></span> {{'STREAMS.TITLE' | translate}}</h1>
		</header>
		<div class="content">
			<ul class="table-view">
				<li class="table-view-divider">{{'STREAMS.TRACKS' | translate}}</li>
				<li class="table-view-cell" ng-repeat="s in curr.streams.streams" ng-if="s.T&&s.T!='V'">
					<a href="javascript:void(0);" ng-click="curr.streams.select($index);closeModal('streams');">
						<span class="media-object pull-left icon" ng-class="{'icon-sound3':s.T=='A', 'icon-bars':s.T=='S'}"></span>{{s.TT || 'Unknown'}} {{s.L}}
						<p>
							<span ng-if="s.Ch">{{s.Ch}} </span>
							<span ng-if="s.C && s.T!='S'">[{{s.C}}<span ng-if="s.B"> - {{s.B}}</span>]</span>
						</p>
						<p>{{s.Description}}</p>
						<button class="btn btn-outlined btn-primary" ng-click="curr.streams.select($index);$event.stopPropagation();" type="button">{{'STREAMS.SELECT' | translate}}</button>
					</a>
				</li>
				<li class="table-view-cell" ng-repeat="s in curr.streams.streams" ng-if="!s.T">
					<a href="javascript:;">
						<p ng-repeat="(k,v) in s" ng-if="['T','C','B','Ch','L'].indexOf(k)==-1">
							{{k}}: {{v}}
						</p>
						<span class="badge">{{$index}}</span>
					</a>
				</li>
				<li class="table-view-cell">
					<a href="javascript:void(0);" ng-click="curr.streams.select(-1);closeModal('streams');">
						<span class="media-object pull-left icon icon-bars"></span> {{'STREAMS.DISABLE_SUBS' | translate}}
						<button class="btn btn-outlined btn-negative" type="button" ng-click="curr.streams.select(-1);$event.stopPropagation();">{{'STREAMS.DISABLE' | translate}}</button>
					</a>
				</li>
				
				<li class="table-view-divider">{{'STREAMS.SYNCHRO' | translate}}</li>
				<li class="table-view-cell">
					<span class="media-object pull-left icon icon-play"></span>
					{{'STREAMS.PLAYBACK_RATE' | translate}} (x{{status.rate}})
					<ul>
						<li class="table-view-cell">
							<span class="media-object pull-left icon icon-forward"></span>
							{{'STREAMS.HASTEN' | translate}}
							<button class="btn btn-outlined" ng-click="curr.Rate(.25);">+0.25x</button>
						</li>
						<li class="table-view-cell">
							<span class="media-object pull-left icon icon-back"></span>
							{{'STREAMS.SLOW_DOWN' | translate}}
							<button class="btn btn-outlined" ng-click="curr.Rate(-.25);">-0.25x</button>
						</li>
					</ul>
				</li>
				<li class="table-view-cell">
					<span class="media-object pull-left icon icon-sound3"></span>
					{{'STREAMS.AUDIO_DELAY' | translate}} ({{status.audiodelay}} secs)
					<ul>
						<li class="table-view-cell">
							<span class="media-object pull-left icon icon-forward"></span>
							{{'STREAMS.DELAY' | translate}}
							<button class="btn btn-outlined" ng-click="curr.Delay(true, 'a');">+{{confs.audelay}} {{'STREAMS.SEC' | translate}}</button>
						</li>
						<li class="table-view-cell">
							<span class="media-object pull-left icon icon-back"></span>
							{{'STREAMS.STRETCH' | translate}}
							<button class="btn btn-outlined" ng-click="curr.Delay(false,'a');">-{{confs.audelay}} {{'STREAMS.SEC' | translate}}</button>
						</li>
					</ul>
				</li>
				<li class="table-view-cell">
					<span class="media-object pull-left icon icon-bars"></span>
					{{'STREAMS.SUB_DELAY' | translate}} ({{status.subtitledelay}} secs)
					<ul>
						<li class="table-view-cell">
							<span class="media-object pull-left icon icon-forward"></span>
							{{'STREAMS.DELAY' | translate}}
							<button class="btn btn-outlined" ng-click="curr.Delay(true, 's');">+{{confs.subdelay}} {{'STREAMS.SEC' | translate}}</button>
						</li>
						<li class="table-view-cell">
							<span class="media-object pull-left icon icon-back"></span>
							{{'STREAMS.STRETCH' | translate}}
							<button class="btn btn-outlined" ng-click="curr.Delay(false,'s');">-{{confs.subdelay}} {{'STREAMS.SEC' | translate}}</button>
						</li>
					</ul>
				</li>
				
				<li class="table-view-divider">{{'STREAMS.EQUALIZER' | translate}}</li>
				<li class="table-view-cell">
					<label>{{'STREAMS.ENABLE_EQ' | translate}}</label>
					<div class="toggle" id="enableEq" ng-class="{'active': curr.EQ.enabled()}">
						<div class="toggle-handle"></div>
					</div>
				</li>
				<li class="table-view-cell" ng-hide="!curr.EQ.enabled('preamp')" style="padding-right:15px;">
					<span class="media-object pull-left icon icon-sound3"></span>
					{{'STREAMS.PREAMP' | translate}} ({{curr.EQ.preamp}} dB)
					<ul>
						<li class="table-view-cell">
						<section class="equalizer">
							<input style="width:100%; position:static;" type="range" value="0" min="-20" max="20" step="0.1" ng-model-options="{updateOn:'mouseup touchend'}" ng-model="curr.EQ.preamp">
							</section>
						</li>
					</ul>
				</li>
				<li class="table-view-cell" style="padding-right: 15px;" ng-hide="!curr.EQ.enabled('bands')">
					<a ng-click="EQOpened = !EQOpened;">
						<span class="media-object pull-left icon icon-bars" style="transform:rotate(90deg)"></span>
						{{'STREAMS.EQ'| translate}}  <span class="icon icon-caret" ng-style="EQOpened && {'transform':'rotate(180deg)'} || {'transform':'none'}"></span>
					</a>
					<div style="display: flex; width: 100%; flex-direction: column;" ng-hide="!EQOpened">
						<section id="equalizer" class="vertical equalizer">
							<em ng-repeat="bands in curr.EQ.bands">
								<span>{{bands.val()}}</span>
								<input type="range" value="0" step=".1" min="-20" ng-model="bands.val" ng-model-options="{getterSetter:true,updateOn:'mouseup touchend'}" max="20">
							</em>
						</section>
					</div>
				</li>
				<li class="table-view-cell" style="padding-right:15px;" ng-hide="!curr.EQ.enabled('presets')" ng-init="EQPresetsOpened = false;">
					<a ng-click="EQPresetsOpened = !EQPresetsOpened;" >
						<span class="media-object pull-left icon icon-compose"></span>
						{{'STREAMS.PRESETS' | translate}} <span class="icon icon-caret" ng-style="EQPresetsOpened && {'transform':'rotate(180deg)'} || {'transform':'none'}"></span>
					</a>
					<div class="content-padded" ng-hide="!EQPresetsOpened">
						<button class="btn btn-block" ng-click="curr.EQ.presets=prst.id" ng-repeat="prst in curr.EQ.presets">
							{{prst.val}}
						</button>
					</div>
				</li>

			</ul>
		</div>
	</div>

<!--Playlist modal-->
	<div class="modal" id="playlist" ng-controller="Playlist as p">
		<header class="bar bar-nav">
			<a class="icon icon-close pull-right" href="javascript:void(0);" ng-click="closeModal('playlist');"></a>

			<h1 class="title"><span class="icon icon-list"></span> {{'PLAYLIST.TITLE' | translate}}</h1>
		</header>
		<div class="bar bar-standard bar-header-secondary">
			<div class="segmented-control">
				<a class="control-item" href="javascript:void(0);" ng-class="{active:status.random}" ng-click="p.Pl('random');">{{'PLAYLIST.RANDOM' | translate}}</a>
				<a class="control-item" href="javascript:void(0);" ng-class="{active:status.repeat}" ng-click="p.Pl('repeat');">{{'PLAYLIST.REPEAT' | translate}}</a>
				<a class="control-item" href="javascript:void(0);" ng-class="{active:status.loop}" ng-click="p.Pl('loop');">{{'PLAYLIST.LOOP' | translate}}</a>
			</div>
		</div>
		<div class="content footer">
			<ul class="table-view">
 				<li class="table-view-divider" ng-repeat-start="fold in playlist">{{fold.name}}</li> 
 				<li class="table-view-cell media" ng-repeat="line in fold.children" ng-class="{primary:line.current}" ng-swipe-left="p.Delete(line.id)" ng-swipe-right="p.Play(line.id,fold.children);"> 
					<a class="navigate-right" href="javascript:void(0);" ng-click="p.Play(line.id);closeModal('playlist');">
						<span class="badge">{{line.duration | seconds | date:'HH:mm:ss'}}</span>
						<img class="media-object pull-left" fallback-src="img/vlc-48.png" ng-src="{{'/art?item='+line.id || 'img/vlc-48.png'}}">
						<div class="media-body">
							<span class="media-object pull-left icon icon-play" ng-if="line.current"></span>
						{{line.name}}
						</div>
					</a>
				</li>
 				<li ng-repeat-end></li> 
			</ul>
		</div>
		<footer class="bar bar-footer">
			<div class="segmented-control">
				<a class="control-item" href="#browse" ng-click="p.Add()">{{'PLAYLIST.ADD' | translate}}</a>
				<a class="control-item" href="javascript:void(0);" ng-click="p.Clear()">{{'PLAYLIST.CLEAR' | translate}}</a>
			</div>
		</footer>
	</div>

<!--Main display-->
	<div class="content" style="text-align:center;">
		<div class="slider" style="background-color: rgb(255, 255, 255);">
			<div class="slide-group">
				<div class="slide" ng-swipe-right="curr.Swipe(false)" ng-swipe-left="curr.Swipe(true)">

					<img alt="Cover" id="albumArt" fallback-src="img/vlc-48.png" ng-src="{{'/art?'+status.information.category.meta.filename || 'img/vlc-48.png'}}" style="margin: 44px auto 88px; max-width: 100%;" ng-class="{grayscale: !focused}">

				</div>
			</div>
		</div>

		<div class="error" ng-show="error!==false">
			<p>{{'MAIN.CONN_LOST' | translate}}</p>
<!-- 			<p>{{error |json}}</p> -->
			<button class="btn btn-negative">{{'MAIN.RECONNECTING' | translate}}</button>
		</div>
	</div>

<!--Bottom controls bar-->
	<nav class="bar bar-tab">
		<a class="tab-item" href="#browse">
			<span class="icon icon-search"></span><span class="tab-label">{{'BOTTOMBAR.OPEN' | translate}}</span>
		</a>
		<a class="tab-item" ng-click="curr.PlayPause()" href="javascript:void(0);">
			<span class="icon" ng-class="{'icon-pause': status.state=='playing', 'icon-play': status.state!='playing'}"></span><span class="tab-label">{{status.state=='playing' ? 'BOTTOMBAR.PAUSE' : 'BOTTOMBAR.PLAY' | translate}}</span>
		</a>
		<a class="tab-item" href="javascript:void(0);" ng-click="curr.Stop()">
			<span class="icon icon-stop"></span><span class="tab-label">{{'BOTTOMBAR.STOP' | translate}}</span>
		</a>
		<a class="tab-item" ng-class="{'active':status.fullscreen}" ng-click="curr.toggleFullscreen()" href="javascript:void(0);">
			<span class="icon icon-code"></span><span class="tab-label">{{'BOTTOMBAR.FULLSCREEN' | translate}}</span>
		</a>
		<a class="tab-item" href="javascript:void(0);" ng-click="curr.Vol(false)">
			<span class="icon" ng-class="curr.volIcon(0)"></span><span class="tab-label">{{'BOTTOMBAR.VOLUME-' | translate}}</span>
		</a>
		<a class="tab-item" href="javascript:void(0);" ng-click="curr.Vol(true)">
			<span class="icon" ng-class="curr.volIcon(1)"></span><span class="tab-label">{{'BOTTOMBAR.VOLUME+' | translate}}</span>
		</a>
	</nav>

<!--Browsing modal-->
	<div class="modal" id="browse" ng-controller="Browse as b">
		<header class="bar bar-nav">
			<a class="icon icon-close pull-right" href="javascript:void(0);" ng-click="closeModal('browse')"></a>

			<h1 class="title"><span class="icon icon-search"></span> {{'BROWSE.TITLE' | translate}}</h1>
		</header>

		<div class="content footer">
			<ul class="table-view" ng-init="b.search=''">

				<li class="table-view-cell" ng-repeat="line in browse.element | filter:b.search | orderBy:[ordering, (confs.dirFirst?'type':nullOrd), confs.browseOrder] as results" ng-if="line.type=='dir'||(line.type=='file' && b.Ext(line.uri)!==false)" ng-swipe-left="b.load(b.back);">
					<!-- Directory -->
					<a class="navigate-left" href="javascript:void(0);" ng-if="line.name=='..'" ng-init="b.back=line.uri" ng-click="b.load(line.uri)" href="javascript:void(0);">
						<span class="pull-right">{{'BROWSE.BACK' | translate}}</span>
					</a>
					<a class="navigate-right" href="javascript:void(0);" ng-if="line.type=='dir' && line.name !='..'" ng-swipe-right="b.setDefault(line.path)" ng-click="b.load(line.uri)">{{line.name}}</a>
					
					<!-- Video / Audio / Subs / Playlist -->
					<a href="javascript:void(0);" ng-if="e=b.Ext(line.uri)" ng-click="b.Play(line.uri);closeModal('browse');">
						<span class="media-object pull-left icon" ng-class="{'icon-bars': e=='s', 'icon-play': ['v','a'].indexOf(e)>-1, 'icon-list':e=='p'}"></span>
						{{line.name}}
						<button class="btn btn-outlined btn-positive" ng-click="b.Queue(line.uri);$event.stopPropagation();" ng-if="e!='s'"><span class="icon icon-plus"></span> <span class="icon icon-list"></span></button>
					</a>
				</li>
				<li class="table-view-cell" ng-if="results.length==0">
					<a href="javascript:;" ng-if="b.isMRL()" ng-click="b.Play(b.search);closeModal('browse');">
						<span class="media-object pull-left icon icon-play"></span>
						{{b.search}}
						<button class="btn btn-outlined btn-positive" ng-click="b.Queue(b.search);$event.stopPropagation();"><span class="icon icon-plus"> <span class="icon icon-list"></span></button>
					</a>
					<em ng-if="!b.isMRL()">{{'BROWSE.NO_RESULTS' | translate}}</em>
				</li>

			</ul>
		</div>

		<footer class="bar bar-footer">
			<input placeholder="{{'BROWSE.SEARCH' | translate}}" type="search" ng-model="b.search" ng-focus="b.searchClick();">
		</footer>
	</div>

<!--Head secondary controls bar-->
	<div class="bar bar-standard bar-header-secondary" ng-show="status.state!='stopped'">
		<button class="btn pull-left control-item" type="button" ng-click="curr.Chapter(false)">
			<span class="icon" ng-class="(status.information.chapters.length>1 && status.information.chapter>0 && confs.chapters) ? 'icon-back' : 'icon-left';"></span>
		</button>
		<button class="btn pull-right control-item" type="button" ng-click="curr.Chapter(true)">
			<span class="icon" ng-class="(status.information.chapters.length>1 && (status.information.chapters.length-status.information.chapter>1) && confs.chapters) ? 'icon-forward' : 'icon-right';"></span>
		</button>
		<div class="segmented-control">
			<a class="control-item" href="#info">{{'HEADER2.INFO' | translate}}</a>
			<a class="control-item" href="#playlist" ng-click="loadPlaylist();">{{'HEADER2.PLAYLIST' | translate}}</a>
			<a class="control-item" href="#streams">{{'HEADER2.STREAMS' | translate}}</a>
		</div>
	</div>

<!--Bottom time slider-->
	<div class="bar bar-standard bar-footer-secondary" ng-class="{vhidden: status.state=='stopped'}" style="bottom: 50px;">
		<button class="btn pull-left control-item" ng-click="curr.Seek(false)" type="button">{{curr.pos.val ||0 | seconds | date:'HH:mm:ss'}}</button>
		<button class="btn pull-right control-item" ng-click="curr.Seek(true)" type="button">{{curr.pos.len ||0 | seconds | date:'HH:mm:ss'}}</button>
		<input ng-disabled="status.state=='stopped'" max="1" min="0" step=".001" type="range" ng-model="curr.pos.pos" ng-model-options="{updateOn:'touchend mouseup', getterSetter:true}" ng-style="sliderSize()" resize>
	</div>

</body>
</html>
